# Compiled class files
*.class

# Maven target directory
target/

# Logs
*.log
log/
logs/
# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml

# VS Code
.vscode/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# JAR and WAR files
*.jar
*.war

# XML files
*.xml

# IDE-specific files
*.iml
*.ipr
*.iws

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db